/** Main Header **/
.site-header{
    background: url('images/header-bg.png') center center;
    padding: 2px 0;
}

.site-header div{
    align-items: center;
}

.site-header div.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header .header-menu{
    padding-left: 15px;
}

.main-navigation{
    display: none;
}

.menu-toggle-btn{
    border: 1px solid #E6E6E6;
    background: transparent;
    color: #fff;
    padding: 2px;
    width: 200px;
    border-radius: 0;
    font-size: 1.2em;
    outline: 0;
}

.menu-toggle-btn:hover{
    border: 1px solid #E6E6E6;
}

.bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.menu-btn-text{
    justify-self: start;
    padding-left: 10px;
}

.bar-container{
    justify-self: end;
    padding-right: 5px;
}

.header-search{
    justify-self: end;
    padding-right: 15px;
}

.header-search input[type="search"]{
    border: 1px solid #E6E6E6;
    background: transparent;
    color: #fff;
    padding: 0;
    width: 175px;
    border-radius: 0;
    font-size: 1em;
    text-align: right;
    padding-right: 10px;
}

.header-search input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}

.header-search input[type="search"]::-moz-placeholder{
    color: #fff;
}

.header-search input[type="search"]::-ms-input-placeholder{
    color: #fff;
}

.main-navigation{
    position: absolute;
    border: 1px solid #fff;
    width: 200px;
    border-top: 0;
    top: 38px;
    z-index: 9999;
}

.search-icon{
    position: relative;
    left: 28px;
    height: 19px;
    width: 19px;
    top: 5px;
}

#main-nav{
    display: flex;
    flex-direction: column;
    background: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#main-nav li{
    color: #fff;
    padding: 2px;
    padding-left: 12px;
    background: url('images/purplebtn-bg.png') no-repeat;
    margin-bottom: 5px;
    width: 100%;
}

#main-nav li.current_page_item{
    background: url('images/green-btn-bg.png') no-repeat;
}

#main-nav li a{
    color: #fff;
}

#main-nav li a:hover{
    text-decoration: underline;
}

#site-navigation.main-navigation ul ul{
    float: none;
    box-shadow: none;
    position: relative;
    left: 0;
    top: 0;
}