@import "buttons";

@import "fields";

.signup-overlay,
.options-overlay{
    background:  rgba(40,40,40, .75);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    display: none;
    z-index: 999;
}

.options-overlay{
    overflow: hidden;
}

.options-wrap{
    width: 45%;
    background: #fff;
    margin: 0 auto;
    padding: 20px;
    top: 10%;
    position: relative;
}

.options-wrap{
    text-align: center;
}

.options-overlay-x{
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 10px;
}

.options-wrap h2{
    margin-bottom: 0;
}

.options-wrap h3{
    margin-top: 0;
}

.options-wrap p{
    margin-bottom: 5px;
}

.options-wrap a{
    margin-top: 20px;
    display: block;
}

.options-wrap ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.signup-wrap{
    float: right;
    right: 0;
    height: 100vh;
    width: 45%;
    background: #f1f1f2;
    display: none;
} 

.login-form-wrap input[type="submit"],
.login-form-wrap button,
.login-form-wrap a{
    transform: 0.4s ease;
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
    width: 100%;
}

.login-form-wrap input[type="submit"]:hover{
    text-decoration: underline;
}

.signup-wrap input[type="submit"]{
    background: url('images/form-signin-bg.jpg');
    color: #fff;
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.login-form-wrap{
    border: 1px solid #B3B3B3;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 15px;
    margin-top: 35px;
}

.login-form, #loginForm{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
}

#loginForm input{
    margin-bottom: 5px;
}

#loginForm input::placeholder{
    color: #C2CACC;
}
    
#loginForm input::-moz-placeholder{
    color: #C2CACC;
}

#loginForm input::-ms-input-placeholder{
    color: #C2CACC;
}


#loginForm .remember-box input{
    margin-right: 5px;
}

.register-form-wrap{
    background: #f1f1f2;
}

.register-form{
    text-align: center;
    margin-bottom: 5px;
}

.register-form input{
    width: 80%;
    margin-bottom: 5px;
}

.register-form input::placeholder{
    color: #C2CACC;
}

.register-form input::-moz-placeholder{
    color: #C2CACC;
}

.register-form input::-ms-input-placeholder{
    color: #C2CACC;
}

.register-form .col1{
    text-align: right;
    padding-right: 20px;
}

.regsiter-form .col2{
    padding-left: 20px;
}

.need-help-btn{
    background: url('images/need-help-btnbg.png') no-repeat;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
}

.need-help-btn:hover{
    text-decoration: underline;
    color: #fff;
}

.register-form .agree-text{
    width: 100%;
    margin-bottom: 0;
    color: #999999;
}

.register-form .two-col-wrap{
    margin-bottom: 20px;
}

.register-form .signup-submit,
.register-form .not-now{ 
    width: 50%;
    margin-bottom: 10px;
    background: url('images/form-signin-bg.jpg');
    color: #fff;
    font-size: 1.2em;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

.register-form .not-now{
    display: block;
    margin: 0 auto; 
    text-decoration: none;
    padding: 3px;
    margin-bottom: 40px;
    color: #fff;
}

.register-form .not-now:hover,
.login-submit:hover{
    text-decoration: underline;
}

.register-form label{
    display: block;
}

.signup-wrap a:visited{
    color: #fff;
}

.social-signup-wrap{
    margin-bottom: 20px;
}

.noscroll { 
  overflow: hidden;
}

[aria-hidden="true"]  { width: 0; }
[aria-hidden="false"] { width: 100%; }

body.adminbar .signup-overlay{
    padding-top: 32px;
}

.social-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.signup-text{
    color: #3787A1;
    position: absolute;
    left: 50px;
}

.social-signup img{
    width: 65px;
}

.social-signup img:hover{
    cursor: pointer;
}

.social-signup .facebook-signup{
    margin-right: 15px;
}

.login-username label,
.login-password label{ 
    display: none;
}

#loginform input[type="text"],
#loginform input[type="password"]{
    width: 100%;
}

.login-username, .login-password{
    margin-top: 0;
    margin-bottom: 5px;
}

.login-remember{
    margin: 0;
}

#wp-submit{
    margin: 0;
}

.login-msg{
    margin-top: 0;
    text-align: center;
}

.signup-overlay-x{
    position: absolute;
    right: 18px;
    top: 5px;
    cursor: pointer;
}