/*!
Theme Name: Cinema Planeta
Theme URI: http://underscores.me/
Author: Brady Christopher
Author URI: http://underscores.me/
Description: Custom theme for Cinema Planeta including Vimeo OTT Integration
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: cinema-planeta-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Cinema Planeta is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'proximanova-bold';
  src: url("fonts/proximanova_bold_macroman/proximanova-bold-webfont.woff2") format("woff2"), url("fonts/proximanova_bold_macroman/proximanova-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proximanova-light';
  src: url("fonts/proximanova_light_macroman/proximanova-light-webfont.woff2") format("woff2"), url("fonts/proximanova_light_macroman/proximanova-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'proximanova-regular';
  src: url("fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff2") format("woff2"), url("fonts/proximanova_regular_macroman/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1, h2 {
  font-family: 'proximanova-bold', sans-serif; }

h3, h4, h5, h6 {
  font-family: 'proximanova-regular', sans-serif; }

p {
  font-family: 'proximanova-regular', sans-serif;
  margin-bottom: 1.5em; }

a, button {
  font-family: 'proximanova-regular', sans-serif; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

body a {
  transition: 0.4s ease; }

.signup-wrap a:visited {
  color: #58595B; }

.landing-intro a:visited {
  color: #fff; }

/*** Buttons **/
.blue-btn {
  background: url("images/bluebtn-bg.png");
  color: #fff;
  padding: 4px 0;
  text-align: center;
  text-decoration: none;
  width: 135px;
  transform: 0.4s ease;
  display: inline-block; }

.blue-btn:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer; }

.purple-btn {
  background: url("images/purplebtn-bg.png");
  color: #fff;
  padding: 4px 0;
  text-align: center;
  text-decoration: none;
  width: 135px;
  transform: 0.4s ease;
  display: inline-block; }

.purple-btn:hover {
  text-decoration: underline;
  color: #fff;
  cursor: pointer; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

.signup-overlay,
.options-overlay {
  background: rgba(40, 40, 40, 0.75);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  display: none;
  z-index: 999; }

.options-overlay {
  overflow: hidden; }

.options-wrap {
  width: 45%;
  background: #fff;
  margin: 0 auto;
  padding: 20px;
  top: 10%;
  position: relative; }

.options-wrap {
  text-align: center; }

.options-overlay-x {
  position: absolute;
  cursor: pointer;
  top: 5px;
  right: 10px; }

.options-wrap h2 {
  margin-bottom: 0; }

.options-wrap h3 {
  margin-top: 0; }

.options-wrap p {
  margin-bottom: 5px; }

.options-wrap a {
  margin-top: 20px;
  display: block; }

.options-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.signup-wrap {
  float: right;
  right: 0;
  height: 100vh;
  width: 45%;
  background: #f1f1f2;
  display: none; }

.login-form-wrap input[type="submit"],
.login-form-wrap button,
.login-form-wrap a {
  transform: 0.4s ease;
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  width: 100%; }

.login-form-wrap input[type="submit"]:hover {
  text-decoration: underline; }

.signup-wrap input[type="submit"] {
  background: url("images/form-signin-bg.jpg");
  color: #fff;
  font-size: 1.2em;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px; }

.login-form-wrap {
  border: 1px solid #B3B3B3;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 15px;
  margin-top: 35px; }

.login-form, #loginForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%; }

#loginForm input {
  margin-bottom: 5px; }

#loginForm input::placeholder {
  color: #C2CACC; }

#loginForm input::-moz-placeholder {
  color: #C2CACC; }

#loginForm input::-ms-input-placeholder {
  color: #C2CACC; }

#loginForm .remember-box input {
  margin-right: 5px; }

.register-form-wrap {
  background: #f1f1f2; }

.register-form {
  text-align: center;
  margin-bottom: 5px; }

.register-form input {
  width: 80%;
  margin-bottom: 5px; }

.register-form input::placeholder {
  color: #C2CACC; }

.register-form input::-moz-placeholder {
  color: #C2CACC; }

.register-form input::-ms-input-placeholder {
  color: #C2CACC; }

.register-form .col1 {
  text-align: right;
  padding-right: 20px; }

.regsiter-form .col2 {
  padding-left: 20px; }

.need-help-btn {
  background: url("images/need-help-btnbg.png") no-repeat;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 1.2em; }

.need-help-btn:hover {
  text-decoration: underline;
  color: #fff; }

.register-form .agree-text {
  width: 100%;
  margin-bottom: 0;
  color: #999999; }

.register-form .two-col-wrap {
  margin-bottom: 20px; }

.register-form .signup-submit,
.register-form .not-now {
  width: 50%;
  margin-bottom: 10px;
  background: url("images/form-signin-bg.jpg");
  color: #fff;
  font-size: 1.2em;
  padding: 8px;
  text-align: center;
  text-decoration: none; }

.register-form .not-now {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  padding: 3px;
  margin-bottom: 40px;
  color: #fff; }

.register-form .not-now:hover,
.login-submit:hover {
  text-decoration: underline; }

.register-form label {
  display: block; }

.signup-wrap a:visited {
  color: #fff; }

.social-signup-wrap {
  margin-bottom: 20px; }

.noscroll {
  overflow: hidden; }

[aria-hidden="true"] {
  width: 0; }

[aria-hidden="false"] {
  width: 100%; }

body.adminbar .signup-overlay {
  padding-top: 32px; }

.social-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px; }

.signup-text {
  color: #3787A1;
  position: absolute;
  left: 50px; }

.social-signup img {
  width: 65px; }

.social-signup img:hover {
  cursor: pointer; }

.social-signup .facebook-signup {
  margin-right: 15px; }

.login-username label,
.login-password label {
  display: none; }

#loginform input[type="text"],
#loginform input[type="password"] {
  width: 100%; }

.login-username, .login-password {
  margin-top: 0;
  margin-bottom: 5px; }

.login-remember {
  margin: 0; }

#wp-submit {
  margin: 0; }

.login-msg {
  margin-top: 0;
  text-align: center; }

.signup-overlay-x {
  position: absolute;
  right: 18px;
  top: 5px;
  cursor: pointer; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/** 2 Col Grid **/
.two-col-wrap {
  display: grid;
  grid-template-columns: 50% 50%; }

/** 3 Col Grid **/
.three-col-wrap {
  display: grid;
  grid-template-columns: 33% 33% 33%; }

/** 2 Col Sidebar Grid **/
.two-col-sidebar-left {
  display: grid;
  grid-template-columns: 25% 48%; }

.logo-link {
  outline: 0; }

.logo:focus {
  outline: 0; }

/** Landing Page **/
.landing-intro {
  background: url("images/landing-intro-bg.jpg") no-repeat;
  background-size: cover; }

.landing-intro .logo {
  padding-left: 20px; }

.landing-signin {
  text-align: right;
  padding-right: 20px; }

.landing-header {
  padding-top: 15px;
  padding-bottom: 50px; }

.landing-intro .intro-content {
  padding-left: 20px;
  color: #fff;
  padding-bottom: 8em; }

.landing-intro .intro-content h1 {
  margin: 0;
  font-size: 4em;
  font-weight: normal; }

.landing-intro .intro-content h3 {
  margin-top: 0;
  font-weight: normal;
  font-size: 1.9em;
  position: relative;
  top: -15px;
  margin-bottom: 5px; }

.button-grid {
  color: #fff;
  text-align: center;
  background: url("images/dark-gradient-bg.png") no-repeat;
  background-size: cover;
  padding-top: 30px; }

.button-grid h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 10px; }

.grid-icon {
  max-height: 55px; }

.active-grid-btn {
  background: url("images/active-grid-btn.png");
  background-size: cover;
  height: 10px;
  width: 85%;
  margin: 0 auto; }

.button-grid-content {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.button-grid-content .col1 {
  justify-self: end; }

.button-grid-content .col2 {
  justify-self: start; }

.button-grid-content h4 {
  color: #3787A1;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 0; }

.button-grid-content p {
  margin-top: 5px;
  color: #050406;
  font-weight: bold; }

.site-footer {
  background: url("images/dark-gradient-bg.png") no-repeat;
  background-size: cover;
  color: #fff;
  padding: 10px 20px; }

.site-footer .col2 {
  justify-self: end;
  align-self: end; }

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 5px; }

.footer-menu a {
  color: #fff;
  font-size: .8em;
  text-decoration: none;
  transition: 0.4s ease; }

.footer-menu a:hover {
  text-decoration: underline; }

.footer-menu li {
  display: inline-block;
  padding-right: 10px; }

.site-footer .copyright {
  font-size: .8em;
  margin: 0; }

/** Main Page **/
.current-movie-wrap {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url("images/movie-bg.jpg") no-repeat;
  background-size: cover; }

.current-movie-content {
  padding-top: 30px;
  padding-left: 30px;
  max-width: 500px; }

.movie-title {
  margin: 0;
  color: #050406;
  background: #F3F3F1;
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.2;
  padding-left: 10px; }

.movie-type-wrap {
  display: grid;
  grid-template-columns: 10% 59% 31%;
  margin-top: 5px; }

.movie-type-box {
  width: auto;
  background: #3787A1;
  display: inline-block;
  margin-right: 5px; }

.movie-type {
  margin: 0;
  color: #fff;
  background: #322D33;
  font-weight: normal;
  padding-left: 10px; }

.movie-ratings {
  justify-self: end;
  top: 4px;
  position: relative; }

.movie-inner {
  padding-left: 42px; }

.movie-inner-btns a:visited {
  color: #fff; }

.movie-meta-info {
  display: flex;
  margin-bottom: 10px; }

.movie-meta-info p {
  padding-right: 10px;
  color: #3787A1;
  padding-top: 5px;
  font-weight: bold;
  margin-bottom: 0; }

.movie-meta-info .quality {
  background: #AAAAAA;
  color: #0A090B;
  text-align: center;
  padding: 5px 7px;
  margin-right: 10px; }

.movie-description {
  margin-top: 0;
  color: #fff;
  width: 560px;
  margin-bottom: 15px; }

.play-movie-btn {
  width: 135px;
  text-align: center;
  position: relative;
  padding-left: 5px; }

.play-btn {
  height: 22px;
  padding-left: 10px;
  top: 5px;
  left: 0;
  position: absolute; }

.play-trailer-btn {
  width: 135px;
  text-align: center;
  position: relative;
  padding-left: 10px; }

.movie-inner-btns {
  padding-bottom: 30px; }

.movie-gallery {
  padding-left: 30px; }

.continue-grid {
  display: flex; }

.movie-continue {
  margin-right: 20px; }

.movie-continue img {
  width: 350px; }

.movie-grid {
  display: flex;
  overflow-x: auto; }

.movie-thumb {
  margin-right: 30px;
  flex-shrink: 0; }

.movie-thumb img {
  height: 185px; }

.main-page {
  margin-bottom: 50px; }

.profile-page-wrap {
  padding: 35px; }

.profile-sidebar h2 {
  margin-top: 0; }

.profile-buttons {
  display: flex;
  flex-direction: column;
  width: 80%; }

.profile-buttons button {
  margin-bottom: 15px;
  text-align: left;
  color: #fff;
  font-size: 1.1em;
  width: 100%;
  padding: 10px; }

.profile-buttons button.active {
  background: url("images/green-btn-bg.png") no-repeat; }

.profile-img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 25px; }

.profile-img-wrap img {
  width: 115px; }

.change-img {
  width: 80px;
  padding: 7px; }

.update-info label {
  color: #3787A1; }

.update-info label,
.update-info input {
  width: 95%;
  display: block;
  padding-left: 10px; }

.update-info input[type="submit"] {
  width: auto;
  float: right; }

.social-link {
  text-align: center;
  margin-top: 60px;
  border: 1px solid #B3B3B3;
  padding: 15px; }

.social-link p {
  margin: 0;
  margin-bottom: 15px;
  font-weight: bold; }

.social-link button {
  padding: 8px;
  font-size: 1em;
  text-align: left;
  padding-left: 45px; }

.update-info .email,
.update-info .password,
.update-info .password-re {
  margin-left: 15px; }

.update-info .input-grp {
  margin-bottom: 20px; }

.update-info input[type="submit"] {
  background: url("images/bluebtn-bg.png") no-repeat;
  color: #fff; }

.social-link button {
  position: relative;
  width: 225px; }

.sign-out-fb img,
.sign-in-google img {
  display: inline-block;
  position: absolute;
  left: 5px;
  height: 30px;
  top: 0; }

.sign-out-fb {
  margin-right: 20px; }

.sign-in-google {
  margin-left: 20px; }

.profile-sidebar h2 {
  font-size: 3em;
  background: #E1E1E1;
  padding-left: 10px;
  width: auto; }

.single-movie .movie-description {
  color: #000; }

.single-movie-bg {
  background: url("images/single-movie-bg.jpg") no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 325px; }

.single-play-btn {
  height: 150px;
  width: auto;
  cursor: pointer; }

.movie-details {
  padding-left: 40px; }

.movie-details h4 {
  color: #3787A1;
  margin-bottom: 5px; }

.movie-details-list,
.movie-cats {
  margin: 0;
  padding: 0;
  list-style: none; }

.movie-cats {
  margin-top: 20px; }

.movie-cats li {
  color: #3787A1;
  margin-right: 20px;
  text-decoration: underline;
  display: inline-block; }

.single-movie .current-movie-content-wrap {
  border-bottom: 2px solid #CCCCCC;
  padding-bottom: 50px;
  margin-bottom: 50px; }

.single-movie .similar-docs h2 {
  padding-left: 30px; }

.player-wrap,
.podcast-player-wrap {
  display: none;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7); }

.podcast-thumb:hover {
  cursor: pointer; }

.page-template-default #content {
  padding: 0 15px; }

.menu-footer-menu-1-container,
.menu-footer-menu-2-container {
  margin: 0;
  padding-left: 0; }

#menu-footer-menu-1,
#menu-footer-menu-2 {
  margin: 0;
  padding: 0; }

.footer-menu {
  padding-bottom: 2px;
  padding-top: 5px; }

body.page-template-podcast-page .site-footer {
  position: fixed;
  bottom: 0;
  width: 100%; }

.player-login-msg {
  background: #fff;
  padding: 50px;
  text-align: center; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/** Main Header **/
.site-header {
  background: url("images/header-bg.png") center center;
  padding: 2px 0; }

.site-header div {
  align-items: center; }

.site-header div.header-logo {
  display: flex;
  justify-content: center;
  align-items: center; }

.site-header .header-menu {
  padding-left: 15px; }

.main-navigation {
  display: none; }

.menu-toggle-btn {
  border: 1px solid #E6E6E6;
  background: transparent;
  color: #fff;
  padding: 2px;
  width: 200px;
  border-radius: 0;
  font-size: 1.2em;
  outline: 0; }

.menu-toggle-btn:hover {
  border: 1px solid #E6E6E6; }

.bar1, .bar2, .bar3 {
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s; }

.menu-btn-text {
  justify-self: start;
  padding-left: 10px; }

.bar-container {
  justify-self: end;
  padding-right: 5px; }

.header-search {
  justify-self: end;
  padding-right: 15px; }

.header-search input[type="search"] {
  border: 1px solid #E6E6E6;
  background: transparent;
  color: #fff;
  padding: 0;
  width: 175px;
  border-radius: 0;
  font-size: 1em;
  text-align: right;
  padding-right: 10px; }

.header-search input[type="search"]::-webkit-input-placeholder {
  color: #fff; }

.header-search input[type="search"]::-moz-placeholder {
  color: #fff; }

.header-search input[type="search"]::-ms-input-placeholder {
  color: #fff; }

.main-navigation {
  position: absolute;
  border: 1px solid #fff;
  width: 200px;
  border-top: 0;
  top: 38px;
  z-index: 9999; }

.search-icon {
  position: relative;
  left: 28px;
  height: 19px;
  width: 19px;
  top: 5px; }

#main-nav {
  display: flex;
  flex-direction: column;
  background: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px; }

#main-nav li {
  color: #fff;
  padding: 2px;
  padding-left: 12px;
  background: url("images/purplebtn-bg.png") no-repeat;
  margin-bottom: 5px;
  width: 100%; }

#main-nav li.current_page_item {
  background: url("images/green-btn-bg.png") no-repeat; }

#main-nav li a {
  color: #fff; }

#main-nav li a:hover {
  text-decoration: underline; }

#site-navigation.main-navigation ul ul {
  float: none;
  box-shadow: none;
  position: relative;
  left: 0;
  top: 0; }
