html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

body a{
    transition: 0.4s ease;
}

.signup-wrap a:visited{
    color: #58595B;
}

.landing-intro a:visited{
    color: #fff;
}

/*** Buttons **/
.blue-btn{
    background: url('images/bluebtn-bg.png');
    color: #fff;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 135px;
    transform: 0.4s ease;
    display: inline-block;
}

.blue-btn:hover{
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

.purple-btn{
    background: url('images/purplebtn-bg.png');
    color: #fff;
    padding: 4px 0;
    text-align: center;
    text-decoration: none;
    width: 135px;
    transform: 0.4s ease;
    display: inline-block;
}

.purple-btn:hover{
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}