.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/** 2 Col Grid **/
.two-col-wrap{
    display: grid;
    grid-template-columns: 50% 50%;	
}

/** 3 Col Grid **/
.three-col-wrap{
    display: grid;
    grid-template-columns: 33% 33% 33%;	
}

/** 2 Col Sidebar Grid **/
.two-col-sidebar-left{
    display: grid;
    grid-template-columns: 25% 48%;
}

.logo-link{
    outline: 0;
}

.logo:focus{
    outline: 0;
}

/** Landing Page **/
.landing-intro{
    background: url('images/landing-intro-bg.jpg') no-repeat;
    background-size: cover;
}

.landing-intro .logo{
    padding-left: 20px;
}

.landing-signin{
    text-align: right;
    padding-right: 20px;
}

.landing-header{
    padding-top: 15px;
    padding-bottom: 50px;
}

.landing-intro .intro-content{
    padding-left: 20px;
    color: #fff;
    padding-bottom: 8em;
}

.landing-intro .intro-content h1{
    margin: 0;
    font-size: 4em;
    font-weight: normal;
}

.landing-intro .intro-content h3{
    margin-top: 0;
    font-weight: normal;
    font-size: 1.9em;
    position: relative;
    top: -15px;
    margin-bottom: 5px;
}

.button-grid{
    color: #fff;
    text-align: center;
    background: url('images/dark-gradient-bg.png') no-repeat;
    background-size: cover;
    padding-top: 30px;
}

.button-grid h4{
    margin-top: 10px;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.grid-icon{
    max-height: 55px;
}

.active-grid-btn{
    background: url('images/active-grid-btn.png');
    background-size: cover;
    height: 10px;
    width: 85%;
    margin: 0 auto;
}

.button-grid-content{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-grid-content .col1{
    justify-self: end;
}

.button-grid-content .col2{
    justify-self: start;
}

.button-grid-content h4{
    color: #3787A1;
    font-size: 1.2em;
    margin-top: 5px;
    margin-bottom: 0;
}

.button-grid-content p{
    margin-top: 5px;
    color: #050406;
    font-weight: bold;
}

.site-footer{
    background: url('images/dark-gradient-bg.png') no-repeat;
    background-size: cover;
    color: #fff;
    padding: 10px 20px;
}

.site-footer .col2{
    justify-self: end;
    align-self: end;
}

.footer-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 5px;
}

.footer-menu a{
    color: #fff;
    font-size: .8em;
    text-decoration: none;
    transition: 0.4s ease;
}

.footer-menu a:hover{
    text-decoration: underline;
}

.footer-menu li{
    display: inline-block;
    padding-right: 10px;
}

.site-footer .copyright{
    font-size: .8em;
    margin: 0;
}

/** Main Page **/
.current-movie-wrap{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('images/movie-bg.jpg') no-repeat;
    background-size: cover;
}

//.current-movie-wrap:after{
//    content: '';
//	position: absolute;
//	top: 0;
//	right: 0;
//	bottom: 0;
//	left: 0;
//	background-image: linear-gradient(to bottom right,#0a090b,#0a090b);
//	opacity: .3; 
//}

.current-movie-content{
    padding-top: 30px;
    padding-left: 30px;
    max-width: 500px;
}

.movie-title{
    margin: 0;
    color: #050406;
    background: #F3F3F1;
    text-transform: uppercase;
    font-size: 3em;
    line-height: 1.2;
    padding-left: 10px;
}

.movie-type-wrap{
    display: grid;
    grid-template-columns: 10% 59% 31%;
    margin-top: 5px;
}

.movie-type-box{
    width: auto;
    background: #3787A1;
    display: inline-block;
    margin-right: 5px;
}

.movie-type{
    margin: 0;
    color: #fff;
    background: #322D33;
    font-weight: normal;
    padding-left: 10px;
}

.movie-ratings{
    justify-self: end;
    top: 4px;
    position: relative;
}

.movie-inner{
    padding-left: 42px;
}

.movie-inner-btns a:visited{
    color: #fff;
}

.movie-meta-info{
    display: flex;
    margin-bottom: 10px;
}

.movie-meta-info p{
    padding-right: 10px;
    color: #3787A1;
    padding-top: 5px;
    font-weight: bold;
    margin-bottom: 0;
}

.movie-meta-info .quality{
    background: #AAAAAA;
    color: #0A090B;
    text-align: center;
    padding: 5px 7px;
    margin-right: 10px;
}

.movie-description{
    margin-top: 0;
    color: #fff;
    width: 560px;
    margin-bottom: 15px;
}

.play-movie-btn{
    width: 135px;
    text-align: center;
    position: relative;
    padding-left: 5px;
}

.play-btn{
    height: 22px;
    padding-left: 10px;
    top: 5px;
    left: 0;
    position: absolute;
}

.play-trailer-btn{
    width: 135px;
    text-align: center;
    position: relative;
    padding-left: 10px;
}

.movie-inner-btns{
    padding-bottom: 30px;
}

.movie-gallery{
    padding-left: 30px;
}

.continue-grid{
    display: flex;
}

.movie-continue{
    margin-right: 20px;
}

.movie-continue img{
    width: 350px;
}

.movie-grid{
    display: flex;
    overflow-x: auto;
}

//.movie-grid::-webkit-scrollbar{
//    display: none;
//}

.movie-thumb{
    margin-right: 30px;
    flex-shrink: 0;
}

.movie-thumb img{
    height: 185px;
}

.main-page{
    margin-bottom: 50px;
}

.profile-page-wrap{
    padding: 35px;
}

.profile-sidebar h2{
    margin-top: 0;
}

.profile-buttons{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.profile-buttons button{
    margin-bottom: 15px;
    text-align: left;
    color: #fff;
    font-size: 1.1em;
    width: 100%;
    padding: 10px;
}

.profile-buttons button.active{
    background: url('images/green-btn-bg.png') no-repeat;
}

.profile-img-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 25px;
}

.profile-img-wrap img{
    width: 115px;
}

.change-img{
    width: 80px;
    padding: 7px;
}

.update-info label{
    color: #3787A1;
}

.update-info label,
.update-info input{
    width: 95%;
    display: block;
    padding-left: 10px;
}

.update-info input[type="submit"]{
    width: auto;
    float: right;
}

.social-link{
    text-align: center;
    margin-top: 60px;
    border: 1px solid #B3B3B3;
    padding: 15px;
}

.social-link p{
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

.social-link button{
    padding: 8px;
    font-size: 1em;
    text-align: left;
    padding-left: 45px;
}

.update-info .email,
.update-info .password,
.update-info .password-re{
    margin-left: 15px;
}

.update-info .input-grp{
    margin-bottom: 20px;
}

.update-info input[type="submit"]{
    background: url('images/bluebtn-bg.png') no-repeat;
    color: #fff;
}

.social-link button{
    position: relative;
    width: 225px;
}

.sign-out-fb img, 
.sign-in-google img{
    display: inline-block;
    position: absolute;
    left: 5px;
    height: 30px;
    top: 0;
}

.sign-out-fb{
    margin-right: 20px;
}

.sign-in-google{
    margin-left: 20px;
}

.profile-sidebar h2{
    font-size: 3em;
    background: #E1E1E1;
    padding-left: 10px;
    width: auto;
}

.single-movie .movie-description{
    color: #000;
}

.single-movie-bg{
    background: url('images/single-movie-bg.jpg') no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 325px;
}

.single-play-btn{
    height: 150px; 
    width: auto;
    cursor: pointer;
}

.movie-details{
    padding-left: 40px;
}

.movie-details h4{
    color: #3787A1;
    margin-bottom: 5px;
}

.movie-details-list,
.movie-cats{
    margin: 0;
    padding: 0;
    list-style: none;
}

.movie-cats{
    margin-top: 20px;
}

.movie-cats li{
    color: #3787A1;
    margin-right: 20px;
    text-decoration: underline;
    display: inline-block;
}

.single-movie .current-movie-content-wrap{
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.single-movie .similar-docs h2{
    padding-left: 30px;
}

.player-wrap,
.podcast-player-wrap{
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,.7);
}

.podcast-thumb:hover{
    cursor: pointer;
} 

.page-template-default #content{
    padding: 0 15px;
}

.menu-footer-menu-1-container,
.menu-footer-menu-2-container{
    margin: 0;
    padding-left: 0;
}

#menu-footer-menu-1,
#menu-footer-menu-2{
    margin: 0;
    padding: 0;
}

.footer-menu{
    padding-bottom: 2px;
    padding-top: 5px;
}

body.page-template-podcast-page .site-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
} 

.player-login-msg{
    background: #fff;
    padding: 50px; 
    text-align: center;
}